.mugs {
    position:relative;
    width: 1380px;
    height: 530px;
    color: rgba(255, 255, 255, 1);
    margin-left: 30px;
    margin-right: 30px;
    
}
.mugs_block {
    position:absolute;
    width: 793px;
    height: 128px;
    margin-top: 159px;
    margin-left: 73.5px;
}

.mugs-title {
    position: relative;
    width: 205px;
    height: 18px;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 18px;
    text-transform:uppercase ;
    margin-left: 294.5px;
}
.mugs-h1 {
    position: relative;
    width: 267px;
    height: 60px;
    font-size: 47px;
    letter-spacing: 0px;
    line-height: 60px;
    text-align: center;
    margin-top: 10px;
    margin-left: 263px;
}
.mugs-text {
position: relative;
    width: 793px;
    height: 30px;
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-left: 0.5px;
}

.mugs-btn {
    position: absolute;
    width: 231px;
    height: 18px;
    background-color: rgba(255, 255, 255, 1);
    color:rgba(29, 31, 46, 1);
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 18px;
    text-align: center;
    text-transform:uppercase ;
    margin-top: 335px;
    margin-left: 355px;
}

.mugs-bg-img {
    position: absolute;
    background-color: rgba(5, 8, 39, 1);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    padding-left: 220px;
    
}
