.updates {
    height: 327px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 152px;
    background-color: rgba(29, 31, 46, 1);
}
.updates-sigp-up {
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 80px;
    margin-left: 510px;
    width: 361px;
}
.update-text {
    width: 271px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: Karla;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.update-rect {
    width: 30px;
    height: 1px;
    background-color: rgba(210, 210, 213, 0.1);
}
.updates-title {
    position: absolute;
    margin-top: 113px;
    margin-left: 564px;
    font-family: Karla;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.updates-subscribe-block {
    display: flex;
    position: absolute;
    width: 489px;
    height: 54px;
    margin-top: 188px;
    margin-left: 445px;
}
.customer {
    width: 350px;
    height: 54px;
    border: 1px solid rgba(47, 48, 62, 1);
    font-family: Karla;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    padding: 18px 39px;
    margin-right: 10px;
}
.subscribe {
    width: 129px;
    height: 54px;
    background-color: rgba(255, 255, 255, 1);
    font-family: Karla;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;

    color:rgba(0, 0, 0, 1);
    padding: 18px 25px;

}

