body{
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color:#1D1F2E;
    width: 1440px;
}

/* Utility */

.none{
    display: none !important;
}

.visually-hidden{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Grid */

.container{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}