.alert {
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    text-align: left;
    font-family: Arial;
    font-size: 14px;
}

.alert-success{
    border: 0.5px solid #c3e6cb;
    color: #155724;
    background-color: #d4edda;
}

.alert-error{
    border: 1px solid #f5c6cb;
    color: #721c24;
    background-color: #f8d7da;
}

.alert-info{
    border: 1px solid #ffeaa7;
    color: #856404;
    background-color: #fff3cd;
}