.red{
    color: red;
}

.blue{
    color: blue;
}

.italic{
    font-style:italic;
}

.bold{
    font-weight: bold;
}

p{
    text-indent: 20px;
    text-align: justify;
    font-family: Arial;
    line-height:30px;
}

h1,h2{
    text-align: center;
}


div{
    width:395px;

}

