footer{
    position: relative;
    width: 100%;
    height: 617px;
    background-color: rgba(20, 20, 20, 1);
    margin: 0;
}
.footer-subscribe, .footer-information, .footer-categories, .footer-follow, .footer-template{
    padding: 0;
}
footer p{
    margin: 0;
}
.footer-categories ul li, li{
    padding: 0;
    margin-bottom: 15px;
}
.footer-box {
    position: relative;
    height: 437px;
    top: 90px;
    margin-left: 120px;
    margin-right: 120px;
}
.footer-logo {
    display: flex;
}
.footer-logo-text {
    font-family: Libre Franklin;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    leading-trim: NONE;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(102, 102, 102, 1);
    margin-top: 7px;
    margin-left: 15px;
}
.footer-line {
    height: 1px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: rgba(77, 77, 77, 1);
}

.footer-categories ul, .footer-information ul, .footer-follow ul, .footer-template ul{
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: Libre Franklin;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    text-align: justify;
}
.footer-categories-title, .footer-subscribe-title, .footer-information-title,
.footer-follow-title, .footer-template-title {
    font-family: Libre Franklin;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    leading-trim: NONE;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(102, 102, 102, 1);
}

.footer-subscribe-email {
    padding: 0;
    width: 221px;
    height: 48px;
    font-family: Libre Franklin;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    leading-trim: NONE;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(102, 102, 102, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(204, 204, 204, 1);
    padding-left: 24px;
    align-content: center;
}
.footer-subscribe-send {
    padding: 0;
    width: 79px;
    height: 48px;
    font-family: Libre Franklin;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    leading-trim: NONE;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    align-content: center;
    justify-items: center;
}
.footer-subscribe .row{
    margin-top: 20px;
}