
header{
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}
.header-head{
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    height: 90px;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 135px;
    height: 17px;
}
.header-head ul{
    display: flex;
    padding: 0;
    margin: 0;
    width: 255px;
   
}
.header-head li{
    padding: 33.5px 20px; 
}